#Pixel-Grid { // Grid Element
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#Pixel-Grid div { // Grid Row
  margin-top: -2px;
}

#Pixel-Grid div div { // Grid Cell
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #8e44ad;
  background-color: #9b59b6;
}
